// GRID

$grid-width: 114rem;
$gutter-vertical-small: 4rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// COLORS

$color-background: #141414;
$color-background-2: #292929;
$color-background-3: #535353;
$color-button: #ff4500;
$color-text-important: white;
$color-text-other: #a6a6a6;

$color-facebook: rgb(66, 103, 178);
$color-instagram: rgb(225, 48, 108);
