.about--list {
  list-style: none;
  display: inline-block;
  flex-direction: column;
  align-items: center;

  @include respond(phone-big) {
    margin-bottom: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 2rem;

      @include respond(phone-big) {
        margin-bottom: 4rem;
      }
    }
  }

  &__icon {
    fill: $color-text-important;
    height: 10rem;
    width: 10rem;
    margin-right: 2rem;

    @include respond(tab-port) {
      height: 9rem;
      width: 9rem;
    }
    @include respond(phone-big) {
      margin-right: 0rem;
      height: 7rem;
      widht: 7rem;
    }
  }
}
