.cta {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3rem 0rem;

  @include respond(tab-port) {
    margin: 2rem 0rem;
  }
  @include respond(phone-big) {
    margin: 1rem 0rem;
  }

  &--btn {
    padding: 4rem 10rem;
    background-color: $color-button;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    transition: all 0.4s;
    z-index: 25;

    @include respond(phone-big) {
      padding: 3rem 8rem;
      font-size: 3rem;
      font-weight: 400;
    }

    &:hover {
      background-color: #ff0000;
      transform: translateY(-0.4rem);
      box-shadow: 0rem 3rem 3rem rgba(black, 0.8);
    }

    &:active {
      transform: translateY(0rem);
      box-shadow: none;
      color: $color-text-important;
    }
  }
}
