.center {
  display: flex;
  justify-content: center;
}
.align {
  display: flex;
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.position-relative {
  position: relative;
}
.padding-med {
  padding: 3rem;

  @include respond(tab-port) {
    padding: 5rem 1rem;
  }
  @include respond(phone-big) {
    padding: 3rem 1rem;
  }
}
.background-text-other {
  background-color: $color-text-other;
  border-radius: 0.5rem;
}
.background-1 {
  background-color: $color-background;
}
.hidden {
  opacity: 0;
  display: none;
}
.red-line {
  &::after {
    content: "";
    width: 79%;
    height: 2px;
    background-color: $color-button;
    margin: 0 auto;

    @include respond(phone-big) {
      margin-bottom: 3rem;
      width: 92%;
    }
  }
}

.margin-top-big {
  margin-top: 8rem;

  @include respond(phone-big) {
    margin-top: 2rem;
  }
}
.margin-top-med {
  margin-top: 6rem;
}
.margin-top-small {
  margin-top: 2rem;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}
.margin-bottom-med {
  margin-bottom: 6rem;

  @include respond(phone-big) {
    margin-bottom: 3rem;
  }
}
.margin-bottom-small {
  margin-bottom: 2rem;
}

.pad-top-small {
  padding-top: 3rem;
}
.pad-bottom-small {
  padding-bottom: 3rem;
}
